.home {
  padding: 20px;
}

.home__category {
  margin-bottom: 20px;
}

.home__movies {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}

.home__movies::-webkit-scrollbar {
  display: none;
}

.home__movies > * {
  margin-right: 10px;
}
