/* MovieDetail.css */

.movieDetail {
  position: relative;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieDetail__container {
  display: flex;
  align-items: flex-start; /* Alinha itens ao topo */
}

.movieDetail__overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.back-button:hover {
  background-color: #555;
}

.movieDetail__content {
  text-align: center;
  flex: 1;
}

.movieDetail__cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movieDetail__castMember {
  margin: 10px;
  text-align: center;
}

.movieDetail__castImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.movieDetail h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.movieDetail p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.movieDetail h2 {
  margin-top: 30px;
  font-size: 2rem;
}
